<script lang="ts">
  let count: number = 0;
</script>

<div>
  <button
    on:click={() => {
      count++;
    }}
  >
    count is {count}
  </button>
</div>

<style>
  button {
    padding: 1rem;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    background-color: #123456;
    border: none;
  }
</style>
