<script lang="ts">
  import { onMount } from "svelte";

  class NativeCounterHacky extends HTMLElement {
    shadow;
    count;

    constructor() {
      super();
      this.shadow = this.attachShadow({ mode: "open" });
      this.count = parseInt(this.getAttribute("count") || "0");
      this.render();
    }

    static get observedAttributes() {
      return ["count"];
    }

    attributeChangedCallback(name: string, oldV: string, newV: string) {
      switch (name) {
        case "count":
          this.count = parseInt(newV || oldV || "0");
          break;
      }
      this.render();
    }

    incrementEvent() {
      const btn = this.shadow.querySelector("button");
      if (!btn) return;
      btn.addEventListener("click", () => {
        this.setAttribute("count", String(this.count + 1));
      });
    }

    render() {
      this.shadow.innerHTML = `
      <style>
        button {
          padding: 1rem;
          font-size: 1rem;
          font-weight: 700;
          color: #fff;
          background-color: #123123;
          border: none;
        }
      </style>
      <button>count is ${this.count}</button>
      `;
      this.incrementEvent();
    }
  }

  onMount(() => {
    customElements.define("native-counter-hacky", NativeCounterHacky);
  });
</script>

<native-counter-hacky count="0"></native-counter-hacky>
