<script lang="ts">
  import { onMount } from "svelte";

  class NativeCounter extends HTMLElement {
    shadow;

    constructor() {
      super();
      this.shadow = this.attachShadow({ mode: "open" });
      this.shadow.appendChild(this.getTemplate());
    }

    connectedCallback() {
      this.updateButtonCount();
      this.clickEvent();
    }

    static get observedAttributes() {
      return ["count"];
    }

    attributeChangedCallback(name: string) {
      switch (name) {
        case "count":
          this.updateButtonCount();
          break;
        default:
          break;
      }
    }

    getTemplate() {
      const newEl = document.createElement("div");
      newEl.innerHTML =
        document.getElementById("native-counter-template")?.innerHTML || "";
      return newEl;
    }

    clickEvent() {
      const btn = this.shadow.querySelector("button");
      if (!btn) return;
      btn.addEventListener("click", () => {
        const currentCount = parseInt(this.getAttribute("count") || "0");
        this.setAttribute("count", String(currentCount + 1));
      });
    }

    updateButtonCount() {
      const currentCount = this.getAttribute("count");
      const btn = this.shadow.querySelector("button");
      if (!currentCount || !btn) return;
      btn.innerText = `count is ${currentCount}`;
    }
  }

  onMount(() => {
    customElements.define("native-counter", NativeCounter);
  });
</script>

<template id="native-counter-template">
  <style>
    button {
      padding: 1rem;
      font-size: 1rem;
      font-weight: 700;
      color: #fff;
      background-color: #654321;
      border: none;
    }
  </style>
  <button></button>
</template>
<native-counter count="0"></native-counter>
