<script lang="ts">
  import CounterSvelte from "./lib/CounterSvelte.svelte";
  import CounterWebComponent from "./lib/CounterWebComponent.svelte";
  import CounterWebComponentHacky from "./lib/CounterWebComponentHacky.svelte";
</script>

<main>
  <div class="col">
    <h1>Counter using Svelte</h1>
    <CounterSvelte />
  </div>
  <div class="col">
    <h1>Counter using native Web Components</h1>
    <CounterWebComponent />
  </div>
  <div class="col">
    <h1>Counter using native Web Components (Hacky way)</h1>
    <CounterWebComponentHacky />
  </div>
</main>

<style>
  main {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
  }

  .col {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .col h1 {
    font-size: 2rem;
    text-align: center;
  }
</style>
